 html {
    color: rgb(133, 131, 131);
    font-family: 'ABeeZee', sans-serif;
    margin: 0;
    padding: o;
}

/* Adding the fading background effect */
body {
    height: 100vh;
    background-image: linear-gradient(to top, rgb(13, 17, 243), rgb(250, 5, 148));
    background-image: no-repeat;

}

/*Styling the form*/
section {
    padding-bottom: 5%;
    position: absolute;
    left: 35%;
    height: 25em;
    width: 20em;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-top: 1.25em;
    border-radius: 5px;
    box-shadow:0 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 10px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 1.2em;
    background-color: rgb(255, 255, 255);
    font-size: 17px;

}

/* Styling the Header */
h1{
    color: #000;
 }

 /* Styling the input tags and button */
.box {
    /* width: 250px; */
    width: 17em;
    height: 3em;
    margin-bottom: 1em;
    border-style: none;
    border-radius: 1px;
}
.mail{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
input {
    background-color: rgb(226, 221, 221);
}
#first {
    margin-right: 4px;
}

.font {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    position: relative;
    top: 2px;
    background-color: rgb(226, 221, 221);
}
ion-icon {
    padding-top: 8px;
    width: 20px;
    height: 20px;
}
.one {
    left: 6px;
    width: 42px;
}
.two {
    bottom: 3px;
    margin-left: 6px;
    height: 2.45em
}

/* Styling the checkbox */
#checking{
    display: none;
}
.checkbox{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: inherit;
    border: 2px solid rgb(220, 20, 103);
    border-radius: 2px;
    position: relative;
    right: 4em;
    margin-left: 8px;
}

.checkbox::after{
    content: "";
    position: absolute;
    width: 5px;
    height: 8px;
    border-right: 2px solid rgb(220, 20, 103);
    border-bottom: 2px solid rgb(220, 20, 103);
    top: 30%;
    transform: translate(-40%, -40%) rotateZ(40deg);
    opacity: 0;
}
#checking:checked ~ .checkbox::after{
    opacity: 1;
}
/* Styling the text */
#check {
    position: relative;
    right: 3.5em;
}
/* Styling the login button */
button {
    margin-top: 2em;
    width: 20.1em;
    height: 3em;
    color: #fff;
    background-color: rgb(220, 20, 103);
    border-style: none;
    border-radius: 2px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

/* Styling the social media boxes */
.socialIcons {
    display: inline-block;
    width: 7em;
    height: 1.8em;
    border: 1px solid  rgb(194, 192, 192);
    border-radius: 2px;
    margin-bottom: 2em;
}
.google {
    position: relative;
color: #000000;
margin-left: 10px;
}
.facebook{
    color: #3b5998;
} 
img {
    margin-top: 0.5em;
}

